nav {
    background-color:black; /* Set the background color for the navigation bar */
  }
  
  ul {
    list-style-type: none; /* Remove the default list-style */
    margin: 0;
    padding: 0;
    display: flex; /* Display list items horizontally */
  }
  
  li {
    margin-right: 15px; /* Add spacing between list items */
  }
  
  a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set the text color for links */
    font-weight: bold; /* Make the text bold */
  }
  
  /* Style for the links when hovered */
  a:hover {
    color: #ffcc00; /* Change text color on hover */
  }

h1 {
  color:#ffcc00; /* Set heading text color */
  font-family: 'Arial', sans-serif; /* Set font family */
  font-weight: bold; /* Make text bold */
  font-size: 2em;
}

h2 {
  font-size: 1.5em; /* Set font size for h2 */
  color:black;
}

p {
  color: #666; /* Set paragraph text color */
  font-family: 'Helvetica', sans-serif; /* Set font family */
  margin: 0 auto; /* Center the text within its container horizontally (optional) */
  text-align: left; /* Align the text to the left */
  font-size: 18px; /* Adjust font size as needed */
  line-height: 1.5; /* Set line height for better readability */
  white-space: normal; /* Allow the text to break into multiple lines */
}

/* Span Styles */
span {
  color: #ffcc00; /* Set span text color */
  font-style: italic; /* Make text italic */
}

/* Add more styles for specific spans if needed */

img {
  max-width: 100%; /* Ensure images do not exceed their container width */
  height: auto; /* Maintain aspect ratio when resizing */
  display: block; /* Remove default inline behavior for proper spacing */
  margin: 0 auto; /* Center images within their container */
  border-radius: 8px; /* Add a border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
